---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
    <div class="pb-12 mt-5">
      <div
        class="text-5xl font-bold"
        style="text-align: center; margin-top: 0px;"
      >
        Welcome to the Greninger Lab
      </div>
    </div>
    <div class="py-2" style="text-align: center;">
      <text class="text-lg">
        <div
          class="prose lg:prose-xl"
          style="text-align: center; margin-bottom: 25px"
        >
          We strive to understand viruses – how they are transmitted, how they
          evolve, and how they affect their hosts. We use a wide range of
          techniques including next-generation sequencing, culture models and
          screens, and biochemical/biophysical characterization of viral gene
          products. Our research is tightly integrated with the clinical
          laboratories of the University of Washington Medical Center.
        </div>
      </text>

      <img src="/Pub_Images/Lab_Photo.webp" class="rounded-xl" />
      <div class="hero-content flex-col md:flex-row">
        <div
          class="card w-96 bg-base-100 shadow-xl"
          style="text-align: center; margin-top: 25px"
        >
          <figure class="px-15 pt-15"></figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">
              We are always looking for talented and motivated people to join
              the lab!
            </h2>
            <p>Please reach out to Alex directly:</p>
            <div class="card-actions">
              <button class="btn bg-blue-300">
                <a href="/contact/"> Contact</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
