---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="People" sideBarActiveItemID="people">
  <!-- component -->
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
        Greninger Lab Team
      </h1>
    </div>

    <div
      class="w-full rounded-md p-12 flex flex-col justify-center items-center"
    >
      <div class="mb-8">
        <img
          class="object-center rounded-md"
          width="700"
          src="/Pub_Images/People/Alex.webp"
          alt="photo"
        />
      </div>
      <div class="text-center">
        <p class="text-xl font-bold mb-2">Alex Greninger, MD, PhD, MS, MPhil</p>
        <p class="text-base font-normal">Principal Investigator</p>
        <article class="prose lg:prose-xl">---</article>
        <p class="prose">
          Alex Greninger is the Larry Corey Endowed Associate Professor in the
          Department of Laboratory Medicine and Pathology, assistant director of
          the clinical virology laboratories at the University of Washington
          Medical Center, and a board-certified clinical pathologist. Dr.
          Greninger earned an MS in Biological Sciences/Immunology from
          Stanford, an MPhil in Epidemiology from Cambridge (UK), an MD/PhD from
          UCSF, and completed his laboratory medicine residency at the
          University of Washington. He has a broad interest in anything that
          improves diagnostics and enables us to treat or prevent viral
          infection.
        </p>
      </div>
    </div>
    <div
      class="w-full rounded-md p-12 flex flex-col justify-center items-center"
    >
      <div class="mb-8">
        <img
          class="object-center object-cover rounded-md"
          width="300"
          src="/Pub_Images/People/Hee_Jin.webp"
          alt="photo"
        />
      </div>
      <div class="text-center">
        <p class="text-xl font-bold mb-2">Hee Jin Oh</p>
        <p class="text-base font-normal">Assistant Director of Operations</p>
      </div>
    </div>
    <div
      class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
    >
      <div class="mb-8">
        <img
          class="object-center, rounded-md"
          width="300"
          src="/Pub_Images/People/Nicole.webp"
          alt="photo"
        />
      </div>
      <div class="text-center">
        <p class="text-xl font-bold mb-2">Nicole Lieberman, PhD</p>
        <p class="text-base font-normal">Senior Research Scientist</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-md p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Na.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Na Cui, PhD</p>
          <p class="text-base font-normal">Postdoctoral Research Scientist</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Stephanie.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Stephanie Goya, PhD</p>
          <p class="text-base font-normal">Postdoctoral Research Scientist</p>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Jon.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Jonathan Reed, PhD</p>
          <p class="text-base font-normal">Research Scientist 4</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Kurtis.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Kurtis Feng, PhD</p>
          <p class="text-base font-normal">Research Scientist 4</p>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Lin.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Linhui Hao, PhD</p>
          <p class="text-base font-normal">Research Scientist 4</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Thad.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Thaddeus Armstrong, BS</p>
          <p class="text-base font-normal">Research Scientist 2</p>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Daniel.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Daniel Pfalmer, MS</p>
          <p class="text-base font-normal">Research Scientist 2</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Carlos.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Carlos Avendaño, BS</p>
          <p class="text-base font-normal">Research Scientist 2</p>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Shah.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Shah A Khan, BS</p>
          <p class="text-base font-normal">Research Scientist 2</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Eli_AI.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Eli Piliper, BA</p>
          <p class="text-base font-normal">Research Scientist 2</p>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Liz.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Liz Sobolik, BA</p>
          <p class="text-base font-normal">Program Operations Specialist</p>
        </div>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
      >
        <div
          class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
        >
          <div class="mb-8">
            <img
              class="object-center object-cover rounded-md"
              width="300"
              src="/Pub_Images/People/Jaydee.webp"
              alt="photo"
            />
          </div>
          <div class="text-center">
            <p class="text-xl font-bold mb-2">Ariyatath Sereewit, MS</p>
            <p class="text-base font-normal">Software Engineer</p>
          </div>
        </div>
        <div
          class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
        >
          <div class="mb-8">
            <img
              class="object-center object-cover rounded-md"
              width="300"
              src="/Pub_Images/People/Jeff.webp"
              alt="photo"
            />
          </div>
          <div class="text-center">
            <p class="text-xl font-bold mb-2">Jeff Furlong</p>
            <p class="text-base font-normal">Software Engineer</p>
          </div>
        </div>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6"
      >
        <div
          class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
        >
          <div class="mb-8">
            <img
              class="object-center object-cover rounded-md"
              width="300"
              src="/Pub_Images/People/Dariia.webp"
              alt="photo"
            />
          </div>
          <div class="text-center">
            <p class="text-xl font-bold mb-2">Dariia Vyshenska, PhD</p>
            <p class="text-base font-normal">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6"
    >
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Ben.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Ben Wieland</p>
          <p class="text-base font-normal">Undergraduate Researcher</p>
        </div>
      </div>
      <div
        class="w-full rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-md"
            width="300"
            src="/Pub_Images/People/Owen.webp"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl font-bold mb-2">Owen Burris</p>
          <p class="text-base font-normal">Undergraduate Researcher</p>
        </div>
      </div>
    </div>

    <div>
      <div
        class="text-1xl w-full font-bold mb-5"
        style="text-align: center; margin-top: 0px;"
        "
      >
        Lab Alumni
      </div>
    </div>

    <table class="table table-s table-pin-rows table-pin-cols, text-center">
      <tbody>
        <tr>
          <td>Kate Juergens</td>
          <td>PhD student at Harvard University</td>
        </tr>
        <tr>
          <td>Benjamin Chung</td>
          <td>Medical Scribe</td>
        </tr>
        <tr>
          <td>Quynh Phung</td>
          <td
            >Medical Student at Washington State University College of Medicine</td
          >
        </tr>
        <tr>
          <td>Michelle J Lin</td>
          <td>MD-PhD Student at Stanford School of Medicine</td>
        </tr>
        <tr>
          <td>Ryan Shean</td>
          <td>Medical Student at Arizona College of Osteopathic Medicine</td>
        </tr>
        <tr>
          <td>Negar Makhsous</td>
          <td>Medical Student at Ross University School of Medicine</td>
        </tr>
        <tr>
          <td>Vikas Peddu</td>
          <td>PhD student at University of California-Santa Cruz</td>
        </tr>
        <tr>
          <td>Amin Addetia</td>
          <td>PhD student at University of Washington</td>
        </tr>
        <tr>
          <td>Kurtis Cruz</td>
          <td>Software Engineer</td>
        </tr>
      </tbody>
    </table>
  </section>
</BaseLayout>
