---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
  <li><a class="py-3 text-base" id="research" href="/research">Research</a></li>
  <li>
    <a class="py-3 text-base" id="publications" href="/publications"
      >Publications</a>
  </li>
  <li><a class="py-3 text-base" id="software" href="/software">Software</a></li>
  <li><a class="py-3 text-base" id="people" href="/people/">People</a></li>
  <li><a class="py-3 text-base" id="contact" href="/contact">Contact</a></li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-300">
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">Navbar Title</div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
          <li>
            <a class="py-3 text-base" id="research" href="/research"
              >Research</a>
          </li>
          <li>
            <a class="py-3 text-base" id="publications" href="/publications"
              >Publications</a>
          </li>
          <li>
            <a class="py-3 text-base" id="software" href="/software"
              >Software</a>
          </li>
          <li>
            <a class="py-3 text-base" id="people" href="/people/">People</a>
          </li>
          <li>
            <a class="py-3 text-base" id="contact" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Page content here -->
    Content
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Sidebar content here -->
      <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
      <li>
        <a class="py-3 text-base" id="research" href="/research">Research</a>
      </li>
      <li>
        <a class="py-3 text-base" id="publications" href="/publications"
          >Publications</a>
      </li>
      <li>
        <a class="py-3 text-base" id="software" href="/software">Software</a>
      </li>
      <li><a class="py-3 text-base" id="people" href="/people/">People</a></li>
      <li>
        <a class="py-3 text-base" id="contact" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
